[2022-10-01 02:22] kunal232i opened #1 "Add onClick events"
Add onClick events for Add to edge, add to chrome buttons

[2022-10-01 05:50] MohitNamdev22 opened #2 "Adding background illustrations and Glass effect on Contact section of Homepage"
The current design of the contact page seems very simple. So can I work on the UI of the Homepage under Hacktoberfest 2022?

Before -
![image](https://user-images.githubusercontent.com/89779447/193394731-61443e69-915f-4347-b276-9985d825f3f3.png)

After-
![image](https://user-images.githubusercontent.com/89779447/193394716-3ccf8b16-5e7c-46fb-b53b-836d99224e10.png)

[2022-10-01 05:52] Susmita-Dey commented on #2
Looks nice. Go ahead

[2022-10-01 05:53] MohitNamdev22 commented on #2
Great! 👍

[2022-10-01 05:55] Susmita-Dey commented on #1
@kunal232i Go ahead

[2022-10-01 06:08] Vanshiii203 opened #3 "Contact us section"
Improving the contact us section by adding a backg color and aligning them list items vertically

[2022-10-01 06:17] Vanshiii203 opened #4 "Footer"
adding hover effect and transition to the icons, adding the links to them and adding cursor pointer
![Screenshot (425)](https://user-images.githubusercontent.com/94471189/193395658-1ef7f979-a0df-46ae-bf11-9f7cebe8b771.png)

[2022-10-01 06:18] YasirObaibullah99 opened #5 "Some improvement in website"
The footer section on the website is not looking good So I would like to make it better

[2022-10-01 06:21] Vanshiii203 opened #6 "Making navbar responsive"
Making navbar responsive. The alignment of the list and the button in navbar can be changed
Also I think the logo is enough the name need not to be written in the navbar
![Screenshot (426)](https://user-images.githubusercontent.com/94471189/193395749-a7f39606-f7cb-41dc-a3e0-04f77feb924c.png)

[2022-10-01 06:44] Susmita-Dey commented on #6
@Vanshiii203 Go ahead

[2022-10-01 06:45] Susmita-Dey commented on #5
@YasirObaibullah99 Show me before making PR

[2022-10-01 06:46] Susmita-Dey commented on #4
@Vanshiii203 I have create accounts for moody first.

[2022-10-01 06:47] Susmita-Dey commented on #3
@Vanshiii203 duplicate issue.

[2022-10-01 06:47] #3 closed

[2022-10-01 07:59] Aman0786-git opened #7 "Hover Effects in navbar items"
I would like to contribute on this

[2022-10-01 09:10] Vanshiii203 commented on #4
Okay

[2022-10-01 09:16] Vanshiii203 opened #8 "Home Page"
the home section can be enhanced. A image could be set as a background image or the color could be changed. Right now the color does not look good with the whole page.
![Screenshot (427)](https://user-images.githubusercontent.com/94471189/193402360-9e1d4274-0eb1-4cf5-8821-bb9179e6075c.png)

[2022-10-01 17:13] swapn652 opened #9 "Buttons don't look good on small screen device"
![image](https://user-images.githubusercontent.com/70851202/193420611-e6bd9580-459a-4b33-8543-43ccf143ba5d.png)

[2022-10-01 17:35] bhattabhi013 opened #10 "Add 'Table of Contents' in documentation"
Add 'Table of Contents' in `README.md`.

[2022-10-01 17:55] bhattabhi013 opened #11 "Add onClick on button click"
Add 'onCLick' functionality on button clicks for social accounts. ex: Twitter, LinkedIn

[2022-10-01 18:05] MohitNamdev22 opened #12 "The Website don't have any Favicon"
There is no favicon on the website, so can I use the logo of moody-website and make a favicon and put it on the website? Can I work on this under Hacktoberfest 2022

[2022-10-01 18:12] minhaj-313 commented on #12
I want to Contribute in this Project for Hacktoberfest, If you Have any Issue then you can suggest me. I want to give my best.

[2022-10-01 18:14] adnansam110 commented on #12
Can you assign this to me please @MohitNamdev22 ?

[2022-10-01 18:16] MohitNamdev22 commented on #12
Hey 👋, you can contribute to the project by finding issues on the project and creating the issue. Sorry guys but I'm also a contributor, and I want to work on this. You may find some different issue 👍

[2022-10-01 18:21] minhaj-313 commented on #12
Its Ok

[2022-10-02 01:23] Prahmodh-R opened #13 "Add relevant content to the Testimonials section"
I would like to add proper feedback about the website in the testimonials section since there's just random text written there for now. Could you please assign me this issue as part of hacktoberfest @Susmita-Dey

[2022-10-02 05:34] omthakare16 commented on #4
Hey , Can you assign me , Can I work on this issue ?

[2022-10-02 06:28] Mahich123 commented on #11
I would like to work in this.
Can you assign me ?

[2022-10-02 06:29] Mahich123 commented on #9
I would like to fix this issue .
Can I work in this ?

[2022-10-02 07:00] Vanshiii203 opened #14 "Adding logo in Readme.md"

[2022-10-02 07:01] Susmita-Dey commented on #14
@Vanshiii203 Go ahead

[2022-10-02 07:13] Susmita-Dey commented on #9
@swapn652 @Mahich123 Leave this issue for a while as someone is working in this section.

[2022-10-02 07:22] #14 closed

[2022-10-02 07:33] Susmita-Dey commented on #10
@bhattabhi013 `README.md` file is short already. But I still what to know what things will be there under table of contents.

[2022-10-02 07:34] Susmita-Dey commented on #11
@bhattabhi013 Go ahead

[2022-10-02 07:34] Susmita-Dey commented on #12
@MohitNamdev22 Go ahead

[2022-10-02 07:36] Susmita-Dey commented on #13
@Prahmodh-R Go ahead

[2022-10-02 07:38] Susmita-Dey commented on #4
@omthakare16 Since @Vanshiii203 made the issue, it would be assigned to her first. If she fails, then I'll assign it to you.

[2022-10-02 09:22] Vanshiii203 opened #17 "submit button"
Hyperlinking the submit button.

[2022-10-02 09:45] Susmita-Dey commented on #17
@Vanshiii203 Share a screenshot

[2022-10-02 11:24] Vanshiii203 commented on #17
https://user-images.githubusercontent.com/94471189/193451494-b2aae8ac-2438-4138-b121-39ea7be41817.mp4

[2022-10-02 12:28] #2 closed

[2022-10-02 12:43] Susmita-Dey commented on #17
@Vanshiii203 We need backend for this to store data. But where you're thinking to link it?

[2022-10-02 12:47] Susmita-Dey opened #20 "Change mail id and it's link"
Update the following email id to `moodyextension@gmail.com` in the Contact Us section.

![image](https://user-images.githubusercontent.com/79099734/193454698-ef42317d-ab36-4e3b-968c-474c0d2825ed.png)

[2022-10-02 12:48] ramdhanihendrie commented on #20
I am interested in this issue. please assign it to me

[2022-10-02 12:51] Susmita-Dey commented on #20
@ramdhanihendrie Go ahead

[2022-10-02 12:54] #20 closed

[2022-10-02 12:54] Vanshiii203 commented on #17
I was thinking to link it to the e-mail  so that the entered data will be send to the email to which we will link it.

[2022-10-02 12:56] Susmita-Dey commented on #17
@Vanshiii203 Let me create a form for that to take those data to email.

[2022-10-02 12:59] Vanshiii203 commented on #17
okay!

[2022-10-02 13:05] #6 closed

[2022-10-02 13:06] Niravprajapati1 opened #23 "Add issue templates"
I think we can add some issue templates for this project so anyone can easily share their issue

[2022-10-02 13:10] Susmita-Dey commented on #4
@Vanshiii203 Note the following things to update the links:-
- Mail id:- moodyextension@gmail.com
- Twitter:- https://twitter.com/ExtensionMoody
- GitHub(Extension):- https://github.com/Susmita-Dey/Moody
- GitHub(Website):- https://github.com/Susmita-Dey/Moody-website

Remove Facebook and add GitHub logo instead.

[2022-10-02 13:14] Susmita-Dey commented on #23
@Niravprajapati1 Good idea. Go ahead

[2022-10-02 13:17] Niravprajapati1 opened #24 "Feature: clean console"
Inspect this website in small screen size . you may notice that on clicking menu icon it log unnecessary text in console.

[2022-10-02 13:19] #8 closed

[2022-10-02 13:20] Susmita-Dey commented on #24
@Niravprajapati1 How will you clean the console?

Also, attach an ss.

[2022-10-02 13:31] Niravprajapati1 commented on #23
Thanks 👍.

[2022-10-02 13:32] Niravprajapati1 commented on #24
Sure

[2022-10-02 13:34] Niravprajapati1 commented on #24
![IMG_20221002_190402](https://user-images.githubusercontent.com/83688779/193456838-a6580f2b-f073-4100-b1d2-cbad7d22cfad.jpg)
You can remove console.log() so console will be clean.

[2022-10-02 13:43] Anubhavgupta14 opened #26 "Will improve the responsiveness of the webpage."
Will improve the responsiveness of the webpage.
#Bug.
![res](https://user-images.githubusercontent.com/97956667/193457259-fbc2d559-ea6e-4d87-8472-4d109894b323.jpg)

[2022-10-02 13:44] Anubhavgupta14 commented on #26
Text is overlapping in the buttons, and Navbar should be fixed.

[2022-10-02 13:45] Anubhavgupta14 commented on #26
@Susmita-Dey Kindly Assigned it to me.

[2022-10-02 13:45] Mohasin-Haque opened #27 "Adding a pointer to the icons"
I want to add the pointer to the icons as it doesn't look nice without it in the footer section
![image](https://user-images.githubusercontent.com/72180173/193457320-06324a99-a7e9-4466-ab56-5deacfcd9267.png)

[2022-10-02 13:50] Niravprajapati1 commented on #4
Add assigned label

[2022-10-02 13:51] Vanshiii203 commented on #4
Okayy

[2022-10-02 13:51] Vanshiii203 commented on #27
I am already working on this #4

[2022-10-02 14:12] Susmita-Dey commented on #26
@Anubhavgupta14 Check the website now once again.

[2022-10-02 14:13] Niravprajapati1 opened #29 "enhancement: we can add smooth scrolling"
Currently in navbar. if we click on contact us or maybe click on services it take user directly to that
Page instead of this we can add smooth scrolling so that if user click on contact us it will navigate to contact page smoothly

[2022-10-02 14:15] #27 closed

[2022-10-02 14:19] Susmita-Dey commented on #24
@Niravprajapati1 I guess console is good for developers. Users won't check into it though.

[2022-10-02 14:47] Niravprajapati1 commented on #24
okay you can close this issue

[2022-10-02 14:56] #24 closed

[2022-10-02 15:00] #23 closed

[2022-10-02 15:01] #29 closed

[2022-10-02 15:09] Niravprajapati1 commented on #29
🎉🎉

[2022-10-02 15:13] arpitghura opened #31 "Where is the Extension Link"
### Description

I am not able to view the link of the extension for chrome and Edge. Also, the buttons are not redirecting to the extension page.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 15:20] YasirObaibullah99 commented on #5
Hey I have added a footer on the website check this video
[Screencast from 02-10-22 08:47:16 PM IST.webm](https://user-images.githubusercontent.com/83706868/193461790-5cf158b6-4909-4a37-af7a-8a24425a7beb.webm)

[2022-10-02 15:24] Niravprajapati1 commented on #31
Here is website link = https://susmita-dey.github.io/Moody/

[2022-10-02 15:48] Susmita-Dey commented on #31
@Niravprajapati1 The extension is not hosted on the Chrome or Edge store as some features are yet to be made.

[2022-10-02 15:49] Susmita-Dey commented on #5
@YasirObaibullah99 Check issue #4

[2022-10-02 15:57] Anubhavgupta14 commented on #26
It is still not looking good in mobile version.

[2022-10-02 15:59] YasirObaibullah99 commented on #5
basically, I need to add a GitHub icon and remove the Facebook icon If I am not wrong

[2022-10-02 16:00] #17 closed

[2022-10-02 16:00] Susmita-Dey commented on #5
@YasirObaibullah99 She is also working on that.

[2022-10-02 16:00] #5 closed

[2022-10-02 16:01] Susmita-Dey commented on #26
@Anubhavgupta14 Fix it then

[2022-10-02 16:07] YasirObaibullah99 commented on #5
But I have made Footer and she is linking the link to a button so First Can I make PR and after that, she can link with those links which have been given in issue #4

[2022-10-02 16:12] bhattabhi013 commented on #10
Something like this.
<img width="416" alt="image" src="https://user-images.githubusercontent.com/47862474/193464430-7c0c7d7f-5cb0-4468-9531-c97e96cef188.png">

[2022-10-02 16:24] Susmita-Dey commented on #10
@bhattabhi013 Go ahead

[2022-10-02 16:48] Vanshiii203 opened #34 "[FEATURE] making an About section"
### Description

Adding an about section which will contain the features

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 17:43] YasirObaibullah99 opened #35 "[FEATURE] Improve the footer UI"
### Description

The UI of the footer is not at all looking good and I would like to change it

[2022-10-02 18:12] bhattabhi013 opened #37 "[FEATURE] Add glass effect"
### Description

Add a glass effect on the main content.

### Screenshots

<img width="696" alt="image" src="https://user-images.githubusercontent.com/47862474/193469298-39ca6051-00bf-4345-8faa-aee66a987c68.png">

### Additional information

_No response_

[2022-10-03 05:16] Vanshiii203 opened #41 "[FEATURE]adding glass effect to the navbar on scrolling"
### Description

Before-
![Screenshot (441)](https://user-images.githubusercontent.com/94471189/193506038-6ac8a133-963b-48cd-80ce-a372f9065fb1.png)

### Screenshots

after-
https://user-images.githubusercontent.com/94471189/193506016-36b43d62-7199-4e72-82f3-7ac0c4b22865.mp4

### Additional information

_No response_

[2022-10-03 10:34] AkashSharma001 commented on #9
Could you please assign me? I would like to fix this issue. @Susmita-Dey

[2022-10-03 10:45] #12 closed

[2022-10-03 11:04] #4 closed

[2022-10-03 11:16] Susmita-Dey commented on #41
Looks good by itself. Not needed now.

[2022-10-03 11:16] #41 closed

[2022-10-03 11:19] MohitNamdev22 opened #47 "[FEATURE] On the landing page, an icon of respective browser can be added just after add to browser button"
### Description

On the landing page, the icon of the respective browser can be added followed by the name of the button add to edge & add to chrome. Can I work on this issue/feature under Hacktoberfest 2022?

### Screenshots

This is how it will look after adding icons -
![image](https://user-images.githubusercontent.com/89779447/193564639-cd15951e-c728-4ea0-94d2-05f82bbf3b8e.png)

### Additional

[2022-10-03 11:24] guptamanu409 opened #48 "Please assign me the Update Readme.md #45"
### What would you like to share?

I would like to make it more informative for all those who want to contribute to your project.

### Additional information

_No response_

[2022-10-03 11:25] Susmita-Dey commented on #48
@guptamanu409 There's a `CONTRIBUTING.md` file for that. But still I wanna know what changes you're thinking to add.

[2022-10-03 11:27] qasim0014 opened #49 "[FEATURE] Testimonials header missing"
### Description

Testimonials header missing in
- the web view
- the mobile view

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 11:28] guptamanu409 commented on #48
You told me to raise the issue now you are asking what am i going to do.... Please i'm new into this.... Teach me if i'm wrong somewhere but please don't do this
![image](https://user-images.githubusercontent.com/55289731/193566014-b0a9332f-29f6-4550-abad-e44745f84746.png)

[2022-10-03 11:32] #13 closed

[2022-10-03 11:33] Susmita-Dey commented on #48
@guptamanu409 Sorry my bad but I'm assigning it to you. But made the chanegs I asked to do in your PR.

[2022-10-03 11:35] AbhishekJadhav2002 commented on #37
!assign

[2022-10-03 11:36] Susmita-Dey commented on #37
@bhattabhi013 Show me a screen record in the PR you'll be creating.

[2022-10-03 11:38] Vanshiii203 opened #50 "Adding images to the testimonial section"
### Description

I would like to Add images to the testimonial section

### Screenshots

![Screenshot_20221003-170706~2](https://user-images.githubusercontent.com/94471189/193568172-2cdfac6b-0216-438b-967f-db9675935bdf.jpg)

### Additional information

_No response_

[2022-10-03 11:41] #47 closed

[2022-10-03 11:42] guptamanu409 commented on #48
Mam it's done Kindly review it once mam

[2022-10-03 11:42] #48 closed

[2022-10-03 11:43] #49 closed

[2022-10-03 11:45] AbhishekJadhav2002 opened #52 "Restrict empty contact-us form submission"
### Description

Form can be submitted without entering the email or content in the form.

### Screenshots

![image](https://user-images.githubusercontent.com/79781388/193569213-a83da682-9422-418e-bc85-e64e654b38a5.png)
![image](https://user-images.githubusercontent.com/79781388/193569264-017d80bd-db19-461a-9561-c2a353cb79de.png)

### Additional information

_No response_

[2022-10-03 11:45] guptamanu409 commented on #48
I got to learn about first raising the issue then only correct it. Thanks for guiding me.
![ThankYouThanksGIF](https://user-images.githubusercontent.com/55289731/193569336-4620812e-1472-40af-8503-8ee8917de129.gif)

[2022-10-03 14:41] fykaa opened #56 "Improve Testimonials UI and add graphics and Animation to the Contacts page"
### Description

Hey @Susmita-Dey , the testimonials section seems quite static and simple, and so does the contact background aint very decent rn. Should I update the UI of the Testimonial and Contact section to make it look more elegant?

### Screenshots

Before -
![screencapture-moodyextension-co-2022-10-03-20_06_10](https://user-images.githubusercontent.com/97490463/193604598-3f8ca3a8-0cc9-40f

[2022-10-03 15:24] NageshMandal opened #58 "Need To Change The Logo"
### Description

let's change the  logo

### Screenshots

![Uploading 03.10.2022_20.51.13_REC.png…]()

### Additional information

_No response_

[2022-10-03 15:24] NageshMandal commented on #58
could you please assign this issue to me

[2022-10-03 16:23] imaaquibali opened #60 "[FEATURE] <Wants to change the form UI>"
### Description

Hi @Susmita-Dey I want to change the complete UI of the form section. so it look better and attractive.

I want to work on this issue under the hactiberfest2022

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-03 16:27] imaaquibali opened #61 "[Change] <I want to change the logo and social icons hover effetc>"
### Description

Hi @Susmita-Dey I want to the change the logo of the site. It's not look good. I want to create an logo which matches the theme of the site and looks attractive with the theme and changes the footer social icons effects which matches the theme of the site.

I want to work on this issue under the Hactoberfest2022. Please assign me this issue so i work on this issue.  I'm happy to w

[2022-10-04 05:42] #26 closed

[2022-10-04 06:31] rtewari056 opened #64 "[FEATURE] Improve navigation bar design"
### Description

The overall look of the navigation bar is not that great for a good user experience and can be improved by adding additional styling.

### Screenshots

Right now the navigation bar looks like this

![screenshot-github](https://user-images.githubusercontent.com/75976169/193749295-51e7c84d-686b-471d-aed5-2bba4bae3efb.png)

### Additional information

I want to work on this issue und

[2022-10-04 06:49] Saurabhk1975 commented on #61
i want to work on this assign me @Susmita-Dey

[2022-10-04 08:33] Atulsoam562003 commented on #9
Hello. I can work on this. You can assign it to me if no one has already requested it. Thankyou.

[2022-10-04 08:55] MoskalykA opened #66 "[FEATURE] Button animation"
### Description

Have a transition when passing over a button

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-04 10:19] sethisagar opened #67 "Services navigation is not working"
### Description

From menu, navigation button services us not going any where?

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-04 10:24] sethisagar opened #68 "Contact us Form required validation missing"
### Description

On contact us form if you submit blank it showing error in a weird way. Warning message should be proper.

### Screenshots

![Uploading Screenshot_2022-10-04-15-52-02-030_com.android.chrome.jpg…]()

### Additional information

_No response_

[2022-10-04 10:25] sethisagar commented on #68
![Uploading Screenshot_2022-10-04-15-52-02-030_com.android.chrome.jpg…]()

[2022-10-04 10:26] sethisagar commented on #68
Should I work on this?

[2022-10-04 10:26] sethisagar commented on #67
@Susmita-Dey if you can share the accepted behavior I can work on it.

[2022-10-04 10:50] MohitNamdev22 opened #69 "[FEATURE] Improving height of Navbar and Some UI changes"
### Description

Currently, the Navbar doesn't look professional due to its large height and can be made more attractive. Can I work on this issue under Hacktoberfest 2022?

### Screenshots

![image](https://user-images.githubusercontent.com/89779447/193800826-41992086-820e-42a6-ae1c-03ab3f282eaa.png)

### Additional information

_No response_

[2022-10-04 11:02] sethisagar opened #70 "Navigation bar is not auto hiding when click on home"
### Description

Navigation bar is not auto hiding when click on home.
On mobile.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-04 11:09] sethisagar opened #71 "Grammatical error in Testimonials"
### Description

Grammatical errors in Testimonials like space here
![IMG_20221004_163505](https://user-images.githubusercontent.com/25449633/193804109-0709b8b9-50e5-4520-a068-0c256c4506de.jpg)

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-04 12:28] AbhishekJadhav2002 commented on #68
Currently working on the same #52

[2022-10-04 15:04] imaaquibali commented on #70
@sethisagar can you describe more. If possible plz attached ss also

[2022-10-04 15:05] imaaquibali commented on #68
@sethisagar sorry someone is already working on that issue. please create another issue

[2022-10-04 15:05] #68 closed

[2022-10-04 15:05] imaaquibali commented on #67
@sethisagar Bro we don't have service page that's why its not working. someone already working on that issue

[2022-10-04 15:05] #67 closed

[2022-10-04 15:06] imaaquibali commented on #66
@MoskalykA someone already working on that issue. please create another issue

[2022-10-04 15:06] #66 closed

[2022-10-04 15:15] imaaquibali commented on #56
@fykaa start working on it.

[2022-10-04 15:24] imaaquibali commented on #31
@arpitghura Do you want to work on the extension feature!

[2022-10-04 16:58] rtewari056 commented on #64
@Susmita-Dey Kindly assign me this issue

[2022-10-05 03:48] surbhi400 opened #75 "Improve the responsiveness for extra small devices."
### Description

The website is not completely responsive for extra small devices.  The buy me a coffee button is overlapping its text and slight changes is required in the navbar and footer too for extra small devices.

### Screenshots

![moody-website-update](https://user-images.githubusercontent.com/77582783/193976962-0790afad-9e33-405f-906d-c0c3f10d01dc.png)

### Additional information

_No re

[2022-10-05 04:34] prakhartiwari0 commented on #75
Can I work on this issue?

[2022-10-05 04:37] prakhartiwari0 commented on #75
**Just a suggestion**: We can also position these buttons vertically instead of horizontally to improve the look.
![image](https://user-images.githubusercontent.com/65062036/193982303-cd537ebe-e6a6-42c0-a989-208160342bf5.png)

[2022-10-05 04:38] surbhi400 commented on #75
@Susmita-Dey I created this issue so can you please assign me this issue.

[2022-10-05 04:42] prakhartiwari0 commented on #75
I may assist you @surbhi400

[2022-10-05 04:57] prakhartiwari0 opened #76 "[FEATURE] Improve the UI of the website"
### Description

There are some not-good colour themes used in the website which makes it difficult to read.
Also, there are some other improvements that need to be made.

### Screenshots

## Color theme used in these boxes and text is not good.
![image](https://user-images.githubusercontent.com/65062036/193984212-6a95a5de-1848-4215-bcac-496ccbf705da.png)

## The icons of social media are not well

[2022-10-05 05:03] prakhartiwari0 commented on #76
@imaaquibali Please check if this issue can be assigned to me.
And will it be accepted as a hacktoberfest contribution or not.

[2022-10-05 07:24] sumitkr2000 opened #77 "Adding animations"
### Description

Hey @Susmita-Dey I want to add animations to the website.

Please assign me this issue. Thankyou!

[2022-10-05 09:47] NageshMandal commented on #58
could you please help to push my changes

[2022-10-05 11:05] arpitghura commented on #31
@imaaquibali What work do I need to do?

[2022-10-05 12:19] Susmita-Dey commented on #31
@arpitghura What you want to do?

[2022-10-05 12:19] Susmita-Dey commented on #77
@sumitkr2000 Go ahead

[2022-10-05 12:51] Vanshiii203 opened #79 "The background of contact us sections does not look good"
### Description

The background of contact us sections does not look good

### Screenshots

https://user-images.githubusercontent.com/94471189/194064498-244a7486-bcbc-4fb9-bbfe-07d36d28e04e.mp4

### Additional information

_No response_

[2022-10-05 15:08] sethisagar commented on #71
I was not aware that we can work without assignment?

[2022-10-05 15:24] imaaquibali commented on #71
@sethisagar go ahead!

[2022-10-05 15:26] imaaquibali commented on #75
@surbhi400 go for it!

[2022-10-05 15:27] imaaquibali commented on #76
@prakhartiwari0 Someone is already working on that issue!

[2022-10-05 15:27] imaaquibali commented on #79
@Vanshiii203 go ahead!

[2022-10-05 15:31] #69 closed

[2022-10-05 15:35] #34 closed

[2022-10-05 15:38] imaaquibali commented on #64
@rtewari056 go ahead!

[2022-10-05 15:39] imaaquibali commented on #31
@arpitghura what do you want to do?

[2022-10-05 16:07] arpitghura opened #80 "Background color of NavBar and the size of logo of Moody is up to the mark"
### Description

The background color of NavBar is not up to the mark.
The logo size is also large.
We should create a small-sized attractive logo or we can resize the existing one.

Update the NavBar background color and logo so that the website looks cool.

### Screenshots

![image](https://user-images.githubusercontent.com/41796013/194108538-1a9e7865-0f1f-4109-b98e-365815947bff.png)

### Additi

[2022-10-05 16:22] #35 closed

[2022-10-05 16:23] imaaquibali opened #81 "[FEATURE] <Minor changes in the footer section a>"
### Description

I want to do some minor changes in the footer section.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-05 16:40] #81 closed

[2022-10-05 17:37] hansupadhyay007 commented on #64
I want to work on this issue please assign me..

[2022-10-05 18:03] hansupadhyay007 commented on #64
Now your Navbar is looking like this, kindly accept my PR.
![navbar](https://user-images.githubusercontent.com/112337432/194129990-eada3a6e-be77-45b2-ad22-3940e4f788fc.jpg)

[2022-10-05 18:39] Anubhavgupta14 opened #84 "I can add Bottam to Top moving button in the main."
### Description

I can add Bottam to Top moving button in the main.
This button is used to directed moved to top section of the website.

### Screenshots

![5](https://user-images.githubusercontent.com/97956667/194136876-45690d3e-0130-409c-af0f-4d30b2eeb108.jpg)

### Additional information

@Susmita-Dey Kindly Assigned it to me.

[2022-10-05 18:39] Anubhavgupta14 commented on #84
This Screenshot is an example of Bottom to Top button.

[2022-10-06 05:27] Vanshiii203 opened #85 "The email is not hyperlinked correctly in footer"
### Description

hyperlinking the email link correctly in footer and making the socials open in new  tab

### Screenshots

https://user-images.githubusercontent.com/94471189/194221558-f20841f0-8421-4414-9b91-d08580f2d476.mp4

### Additional information

_No response_

[2022-10-06 05:37] hansupadhyay007 commented on #64
@Susmita-Dey I want to work on this issue. Kindly assign me this task.

[2022-10-06 05:48] hansupadhyay007 opened #86 "Navbar Styling"
### Description

Styling needed in the Navigation Bar components as it doesn't looks good for the users.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-06 06:40] Susmita-Dey commented on #31
@arpitghura So what shall we do?

[2022-10-06 06:45] #50 closed

[2022-10-06 06:49] rosdyana commented on #85
Easy fix.

https://github.com/Susmita-Dey/Moody-website/blob/bba5f49d3b6a31a6fab088ca89ccfd20d9b0c124/index.html#L308

Should be

`     <a href="mailto:moodyextension@gmail.com"><b>Moody</b></a>.`

[2022-10-06 08:58] Vanshiii203 opened #90 "About header is missing in the navbar"
### Description

About header is missing in the navbar

### Screenshots

![Screenshot (468)](https://user-images.githubusercontent.com/94471189/194269115-c2986b4b-40cf-4011-adfd-25a456ada463.png)

### Additional information

_No response_

[2022-10-06 10:10] Shyam3050 opened #92 "home image size is 5.9mb and used images are not compressed."
### Description

The home image size needs to reduce in kb, then the page will load faster.
Used images are need to be compressed.

[2022-10-06 10:11] Shyam3050 commented on #92
assign me i will work on that

[2022-10-07 03:36] sethisagar commented on #71
@imaaquibali Thanks Man
added the request.

[2022-10-07 04:42] sethisagar commented on #70
@imaaquibali Added the video [here ](https://drive.google.com/file/d/11yzMWvCJ45d5Sht9LIje7Xif5t0nforT/view?usp=drivesdk)to describe the issue.
Created the PR with [Fix](https://github.com/Susmita-Dey/Moody-website/pull/96).

[2022-10-07 15:01] MohitNamdev22 opened #97 "The footer section is not properly aligned"
### Description

The footer of the website is shifted toward the left, can I work on the issue under hacktoberfest 2022?

### Screenshots

![image](https://user-images.githubusercontent.com/89779447/194584544-3cb0b7e8-64b5-4502-b508-10ebb6b5cc6a.png)

### Additional information

It can be solved by margin properties

[2022-10-07 15:35] sumitkr2000 commented on #97
@MohitNamdev22 I have already solve this issue and created a pr

[2022-10-07 15:42] MohitNamdev22 commented on #97
Oops my bad

[2022-10-07 15:43] #97 closed

[2022-10-08 04:33] #85 closed

[2022-10-08 04:42] Vanshiii203 opened #98 "[FEATURE] Adding a preloader to the website"
### Description

I would like to add  a preloader to the website

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-08 04:44] #79 closed

[2022-10-08 04:50] Susmita-Dey commented on #58
@NageshMandal Image not visible. upload again.

[2022-10-08 04:56] imaaquibali commented on #86
@hansupadhyay007 Go for it!

[2022-10-08 05:23] Susmita-Dey commented on #90
@Vanshiii203 Remove Services and shift Testimonials in that place and then add About in place of Testimonials.

[2022-10-08 05:35] Vanshiii203 commented on #90
Okay!

[2022-10-08 05:36] imaaquibali commented on #80
@arpitghura Someone is already working on that issue!

[2022-10-08 05:36] #80 closed

[2022-10-08 05:45] imaaquibali opened #99 "[FEATURE] <update navbar section>"
### Description

Added ABOUT link in navbar and link it to the about section.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-08 05:48] #99 closed

[2022-10-08 05:56] imaaquibali opened #101 "[Feature] Update About section"
### What would you like to share?

The paragraph section of the about section is too large as compared to the other text font. The background color also is not looking good.

### Additional information

_No response_

[2022-10-08 06:12] #101 closed

[2022-10-08 06:23] Susmita-Dey commented on #99
@imaaquibali This was assigned to @Vanshiii203. Why are you doing this?

I've added you as maintainer to assign and review PRs. Not to do this kind of bullshits. You're creating issues and getting yourself assigned and then making PRs for that and also merging it.

[2022-10-08 06:34] imaaquibali commented on #99
@Susmita-Dey I didn't check the issue before creating. My bad.

[2022-10-08 06:36] imaaquibali commented on #99
@Susmita-Dey  I removed the hacktoberfest tag.

[2022-10-08 06:39] Susmita-Dey commented on #99
@imaaquibali If you want to contribute, create issues and ping me. When you make PRs, request review from me for your contribution. Don't do like this all alone.

[2022-10-08 06:39] imaaquibali commented on #99
@Susmita-Dey sure sir XD

[2022-10-08 07:39] #70 closed

[2022-10-08 07:53] #52 closed

[2022-10-08 14:03] #90 closed

[2022-10-08 14:08] imaaquibali opened #105 "remove the extra space in the footer"
### Description

hi @Susmita-Dey I want to remove the extra space in the right side of the footer section.

### Screenshots

Before

![Screenshot (6)](https://user-images.githubusercontent.com/84700316/194711643-f7e9ee23-3b2a-4221-86cd-44f18eceb096.png)

After

![Screenshot (7)](https://user-images.githubusercontent.com/84700316/194711647-688d2e0b-9623-40f1-8f08-634420cd9e67.png)

### Additional i

[2022-10-08 17:03] mindexpert7546 commented on #86
Can you assign me ,

[2022-10-08 18:32] MohitNamdev22 opened #109 "There is unnecessary white space at the top of page"
### Description

 There is an unnecessary white space at the top of the page behind the navbar, can I work on this issue under Hacktoberfest 2022?

### Screenshots
Currently -
![image](https://user-images.githubusercontent.com/89779447/194722391-8bed1363-c534-4df4-9167-e0a31465fa6a.png)

After -
![image](https://user-images.githubusercontent.com/89779447/194722418-4053732e-6f8c-41a4-bbd5-df922c215

[2022-10-08 20:02] hansupadhyay007 commented on #86
![moody](https://user-images.githubusercontent.com/112337432/194725874-1e7fba73-9afb-44c8-bb50-66406f82e3d1.jpg)
Now the nav bar looks like this...

[2022-10-08 20:05] hansupadhyay007 commented on #86
![moody](https://user-images.githubusercontent.com/112337432/194726006-633d7154-5724-49a7-85a0-a8f4d258fb1f.jpg)
Now the navbar looks like this...

[2022-10-08 21:26] mindexpert7546 commented on #64
can you assign me

[2022-10-09 06:13] Vanshiii203 opened #110 "Text is not visible in Testimonial section"
### Description

Text is not visible in Testimonial section
I would like to change the color so that its clearly visible

### Screenshots
![Screenshot (471)](https://user-images.githubusercontent.com/94471189/194741053-7c84c368-4c20-4d54-8bb5-e037c14844fb.png)

### Additional information

_No response_

[2022-10-09 06:18] Vanshiii203 opened #111 "The changes I made are not reflected on the website due to merge of some other pr"
### Description

I fixed the email link in footer and also the footer icons link in pr #89 but the current deployed version does not have those changes

### Screenshots

https://user-images.githubusercontent.com/94471189/194741229-50402b1b-3bc1-4ba9-8406-b60671d98abf.mp4

### Additional information

_No response_

[2022-10-09 07:12] #77 closed

[2022-10-09 07:26] #75 closed

[2022-10-09 07:30] Susmita-Dey commented on #64
@mindexpert7546 @hansupadhyay007 You guys can check other issues as this has already been assigned to @rtewari056

[2022-10-09 07:32] Susmita-Dey commented on #111
Fix it

[2022-10-09 07:34] Susmita-Dey commented on #109
Go ahead

[2022-10-09 08:17] #92 closed

[2022-10-09 11:16] Shivam-Katare opened #115 "Add emoji mood changer"
### Description

Hey @Susmita-Dey,  I am thinking to add "Emoji Mood Changer" in the about section. Instead of just a basic emoji image in the about section, we can add an **Emoji Mood Changer**. So, whenever the user hovers over that div then, the emoji will change every time.

## Like This

https://user-images.githubusercontent.com/91705825/194753580-a5bb78b5-448a-4012-9800-95b89682c151.mp4

###

[2022-10-09 13:29] Susmita-Dey commented on #115
People have to wait for getting their mood. I don't want the users to go through it as when they're angry they might not have patience.

[2022-10-09 15:22] #84 closed

[2022-10-10 04:11] zugzwang03 opened #116 "Beautify the scrollbar"
### Description

I wish to customize the scroll bar to align it with the design of the website.
Can I make this contribution under hacktoberfest'22?

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-10 04:14] Susmita-Dey commented on #116
@zugzwang03 Go ahead

[2022-10-10 04:26] #105 closed

[2022-10-10 04:27] #111 closed

[2022-10-10 04:28] #110 closed

[2022-10-10 04:34] imaaquibali opened #117 "[FEATURE] <about section text in not Cleary visible>"
### Description

The text in about section is not Cleary visible. I want to make some changes in it and also i want to change the hover effect of `Add to the Browser-It's free` button.

@Susmita-Dey Take a look on it.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-10 04:35] Susmita-Dey commented on #115
@Shivam-Katare Would it look good in the website?

I can't finalize now. Thinking from end user point of view, there still lies a confusion whether it will be okay or not.

[2022-10-10 04:37] #109 closed

[2022-10-10 04:42] #64 closed

[2022-10-10 05:23] Shivam-Katare commented on #115
Yeah @Susmita-Dey,  I think you're right. Maybe it will not look good on the website. But, if you want to see how it will look then, I can show you by implementing it.

[2022-10-10 05:40] Susmita-Dey commented on #115
@Shivam-Katare I don't want to waste your time and also not to reject your PR. Better to close it.

[2022-10-10 06:34] Shivam-Katare commented on #115
Okay. Then close this issue. It's better to be close.

[2022-10-10 07:34] #115 closed

[2022-10-10 11:19] stringer1000 opened #119 "Improve Testemonials Section"
### Description

* Add hover effects
* Improve Contrast with background
* Disable user select in the section

### Screenshots

![image](https://user-images.githubusercontent.com/115400732/194854602-4c03b3ca-8a6b-4210-8722-b40f56ebcdad.png)
![image](https://user-images.githubusercontent.com/115400732/194854766-5422c48b-51e2-434a-9f3f-0a2b95fdb374.png)

### Additional information

_No response_

[2022-10-10 11:31] Susmita-Dey commented on #119
Seems like Duplicate issue. Check if this kind of thing already exists or not as an issue or PR

[2022-10-10 16:30] #116 closed

[2022-10-10 22:01] Rohitchaudhary13 opened #122 "Responsiveness"
### Description

The website is completely responsive but the UI breaks due to the go-to top icon, I want to solve this issue
Assign this to me!

### Screenshots

![Screenshot 2022-10-11 032811](https://user-images.githubusercontent.com/71605903/194958765-3e948172-7a3e-4ce5-bf08-f9cb334e8740.png)

### Additional information

_No response_

[2022-10-12 19:30] imaaquibali commented on #122
@Rohitchaudhary13 Go for it!

[2022-10-12 19:31] imaaquibali commented on #119
@Susmita-Dey I'm closing this issue!

[2022-10-12 19:31] #117 closed

[2022-10-12 19:31] #61 closed

[2022-10-12 19:31] #60 closed

[2022-10-14 04:43] #7 closed

[2022-10-14 04:46] #119 closed

[2022-10-15 05:13] #122 closed

[2022-10-16 14:39] akanshaaa19 commented on #86
Please assign this issue to me!

[2022-10-16 15:16] #98 closed

[2022-10-16 15:54] Vanshiii203 opened #128 "Responsiveness of home page"
### Description

The text and buttons on home page is not responsive

### Screenshots

![Screenshot_2022-10-16-21-22-43-43_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/94471189/196045164-a0ed7056-fa35-45b6-87b9-ef86f58417e3.jpg)

### Additional information

_No response_

[2022-10-18 14:46] #37 closed

[2022-10-18 14:47] bhattabhi013 commented on #10
Fixed by #36

[2022-10-18 14:47] #10 closed

[2022-10-18 14:50] #11 closed

[2022-10-20 16:40] SahilDahekar commented on #31
@Susmita-Dey there is no link for extension when u click the button . So maybe u can provide me the link of the extension and i will add it to the website

[2022-10-22 06:15] #9 closed

[2022-10-23 14:54] Susmita-Dey commented on #31
@SahilDahekar The extension ["Moody"](https://github.com/Susmita-Dey/Moody) is still under development i.e., it needs some improvement. After that I'll put it on browser extension stores. For now there's no link

[2022-10-24 10:50] J0SAL opened #131 "Improving Contact Us Alignment"
### Description

In mobile view the Contact Us occupies 2 lines

![image](https://user-images.githubusercontent.com/52382282/197509627-8ade76b6-32ea-4cab-948d-e39cc19afc78.png)

Assign me this issue, I'll fix it

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-24 11:38] #128 closed

[2022-10-25 04:37] Vanshiii203 commented on #58
@Susmita-Dey plz assign me this issue
![Screenshot (500)](https://user-images.githubusercontent.com/94471189/197683748-174a761e-1b8a-4510-9bd3-a185f41cb8f4.png)

[2022-10-25 05:21] Susmita-Dey commented on #58
@Vanshiii203 logo doesn't looks good.

[2022-10-25 13:44] AkashSharma001 opened #132 "Contact Us Form accept whitespace character in Name and message input."
### Description

We can submit the form by giving a single space in a name and message input in Contact Us Form

### Screenshots

![image](https://user-images.githubusercontent.com/97700368/197788094-6585ba6f-1202-47f2-bc62-8a4d2dacdd85.png)
![image](https://user-images.githubusercontent.com/97700368/197789570-4d793e3a-51b3-44e3-b563-51213c3ed65a.png)

### Additional information

_No response_

[2022-10-25 13:45] AkashSharma001 commented on #132
Please Assign Me...
@Susmita-Dey @imaaquibali

[2022-10-26 04:35] MohitNamdev22 commented on #58
@Susmita-Dey Kindly check how is this logo
![moody logo](https://user-images.githubusercontent.com/89779447/197935374-1acd8be1-ca47-4bd0-b85b-03a23e82ea81.png)

[2022-10-28 11:26] bhattabhi013 opened #133 "Spacing issue in about us section"
### Description

Proper spacing in the about us section between the picture and paragraph below.

### Screenshots

<img width="798" alt="image" src="https://user-images.githubusercontent.com/47862474/198576375-0d661473-8d09-4ef2-a38f-bf172e8e098b.png">

### Additional information

_No response_

[2022-10-28 11:27] bhattabhi013 commented on #133
Please assign this issue to me, I'll work on it.

[2022-11-07 04:28] Susmita-Dey commented on #58
@MohitNamdev22 Text looks good but the image can be made better.

[2022-11-07 04:30] Susmita-Dey commented on #132
@AkashSharma001 Fix it